<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <a href="https://www.twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
  &nbsp
  &nbsp
  &nbsp
  <a href="mailto:{{ site.author.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
  &nbsp
  &nbsp
  &nbsp
  <a href="https://www.linkedin.com/in/luis-miguel-lópez-santamar%C3%ADa-9bb51389/" target="_blank"><i class="fa fa-linkedin"></i></a>
  &nbsp
  &nbsp
  &nbsp
  <a href="https://scholar.google.com/citations?user=wj_CWYsAAAAJ&hl=es" target="_blank"><i class="ai ai-google-scholar"></i></a>
</div>
